.bgcolor {
    background-color: #5b94f6
}

.border {
    border: 3px solid black;
}

@media screen and (max-width: 800px) {
    body {
        display: grid;
    }

    section {
        display: block;
    }

    .row {
        display: block;
    }

    .col-6 {
        max-width: 100%;
    }
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font: bold;
    line-height: 2;
    color: black;
}

header {
    text-align: center;
    background-color: #3b78e1;
    color: white;
    padding: 10px;
}

.list-group {
    cursor: pointer;
    color: black;
    /* padding-top: 2px; */
}

.buttontext {
    color: white;
    background-color: #3b78e1;
    border: black;
    padding-bottom: 3px;
}

